/* importing google fonts  */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* css variables */

:root {
  --font-family: 'Montserrat', sans-serif;

  /* colors */
  --text-clr: #fefefe;
  --text-clr-light: #aaa4d1;
  --pri-clr: #d159b9;
  --pri-clr-op-5: rgba(209, 89, 185, 0.5);
  --pri-clr-dark: #db007c;
  --blue-clr: #10031c;
  --blue-clr-op-05: rgba(16, 3, 28, 0.05);

  --gradient-bg: linear-gradient(var(--pri-clr), var(--pri-clr-dark));

  --white-clr-op-10: rgb(255, 255, 255, 0.1);
  --white-clr-op-3: rgb(255, 255, 255, 0.25);
  --white-clr-op-5: rgb(255, 255, 255, 0.5);

  --transition: all 0.2s ease-in;
}

/*  utilities */

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  color: var(--text-clr);
  background-color: var(--blue-clr);
}

ul {
  list-style-type: none;
}

a {
  color: var(--text-clr);
}

img {
  max-width: 100%;
}

.container {
  width: 95%;
  max-width: 1180px;
  margin: 0 auto;
}

section {
  padding: 4rem 0;
}

.section-title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.section-subtitle {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.colored-bg {
  width: 4rem;
  height: 4rem;

  border: 2px solid var(--text-clr-light);
  border-radius: 10px;

  background: var(--gradient-bg);
  display: inline-block;

  display: flex;
  justify-content: center;
  align-items: center;
}

.rotate {
  transform: rotate(90deg);
}

.nav-sticky {
  background: linear-gradient(var(--blue-clr) 75%, var(--blue-clr-op-05));
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}

/* modal */

.modal {
  background-color: var(--blue-clr-op-05);

  border: 2px solid var(--text-clr-light);
  border-radius: 2rem;
  padding: 2rem;

  width: 90%;
  max-width: 1180px;

  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  box-shadow: 0 30rem 15rem rgba(0, 0, 0, 0.3);

  z-index: 10;
}

.modal-text {
  line-height: 1.5;
  margin-bottom: 1rem;
}

.modal-text-small {
  margin-bottom: 1rem;
}

.close-modal {
  position: absolute;
  top: 0rem;
  right: 2rem;
  font-size: 3rem;
  color: var(--text-clr);
  cursor: pointer;
  border: none;
  background: none;
}

.modal-footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.modal-input {
  align-self: center;

  border: 2px solid var(--text-clr-light);
  border-radius: 13px;

  display: flex;
  align-items: center;
}

.modal-input-email {
  border: none;
  background-color: transparent;
  padding: 1rem;
}

.modal-input-email:focus {
  border: none;
}

.send-email-btn {
  cursor: pointer;
}

.send-icon {
  font-size: 2rem;
}

.modal-logo {
  display: inline-block;
  margin-left: auto;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(16, 3, 28, 0.8);
  backdrop-filter: blur(10px);
  z-index: 5;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* header */

.header {
  background: radial-gradient(
    circle at 0% 50%,
    var(--pri-clr-op-5) 0%,
    var(--blue-clr-op-05) 15%
  );

  position: relative;
}

.header-bg {
  width: 85 %;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

/* navbar */

.nav {
  padding: 1rem 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  flex: 1;

  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 2.5rem;
}

.nav-link {
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--text-clr-light);
}

.active {
  color: var(--text-clr);
}

.logo {
  width: 10rem;
}

/* header text */

.header-text-main {
  padding-top: 6rem;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
}

.header-text-title {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.drone {
  font-size: 4rem;
  color: var(--pri-clr);
}

.header-text-desc {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  line-height: 1.6;

  color: var(--text-clr-light);
}

.btns {
  display: flex;
}

.header-btn-btn {
  width: 17.5rem;
}

.download-btn-btn {
  width: 15rem;
  cursor: pointer;
}

.header-btn + .header-btn {
  margin-left: 1rem;
}

.download-btn + .download-btn {
  margin-left: 1rem;
}

.video {
  align-self: flex-start;
  width: 100%;

  border-radius: 10%;
}

/* about us section */

.aboutus-text {
  border: 2px solid var(--text-clr-light);
  border-radius: 10px;

  padding: 2rem;
  font-size: 1.25rem;
  font-weight: 500;

  background-color: var(--white-clr-op-10);
}

.aboutus-desc {
  margin-bottom: 2rem;
  line-height: 1.6;
}

.aboutus-listitem {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;

  margin-bottom: 1rem;
}

.list-icon {
  margin-top: -0.3rem;
}

.aboutus-listitem:last-child {
  margin-bottom: 0;
}

/* how it works */

.how-it-works {
  background: radial-gradient(
    circle at 100% 50%,
    var(--pri-clr-op-5) 0%,
    var(--blue-clr-op-05) 20%
  );

  position: relative;
}

.how-it-works-bg {
  width: 50%;

  position: absolute;
  top: 0%;
  right: 0%;

  z-index: -1;
}

.how-it-works-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
}

.how-it-works-card {
  border: 2px solid var(--text-clr-light);
  border-radius: 10px;

  padding: 1rem 2rem;

  background-color: var(--white-clr-op-10);

  position: relative;
}

.card-title {
  margin: 3rem 0;
  font-size: 2rem;
  font-weight: 500;
}

.card-icon {
  position: absolute;
  bottom: 5%;
  right: 5%;
}

/* faqs */

.faq {
  background: radial-gradient(
    circle at 0% 50%,
    var(--pri-clr-op-5) 0%,
    var(--blue-clr-op-05) 20%
  );

  position: relative;

  z-index: 1;
}

.faq-bg {
  width: 50%;

  position: absolute;
  left: 0%;
  top: 60%;

  z-index: -1;
}

.faq-items {
  border: 2px solid var(--text-clr-light);
  padding: 1rem 2rem;
  border-radius: 10px;
  background-color: var(--white-clr-op-10);
}

.faq-item {
  padding: 2rem 0;

  font-size: 1.25rem;
  font-weight: 500;

  border-bottom: 1px solid var(--text-clr-light);

  cursor: pointer;
}

.question {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.faq-item:last-child {
  border-bottom: none;
}

.answer-text {
  padding: 0rem 1rem 0rem 5rem;
  line-height: 1.7;
  font-weight: 500;
}

.hide-answer {
  height: 0;
  overflow: hidden;
  padding: 0;
}

.hidden {
  display: none;
}

/* download now */

.download {
  position: relative;
}

.download-now {
  background-color: var(--white-clr-op-10);

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;

  border: 2px solid var(--text-clr-light);
  border-radius: 10px;

  padding: 4rem 2rem;

  max-height: 20rem;

  position: relative;
}

.download-now-text-title {
  margin-bottom: 3rem;
  max-width: 45ch;
}

.download-now-img {
  position: relative;
  top: -7rem;
}

/* contact-section */

form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

input,
textarea {
  border: 2px solid var(--text-clr-light);
  background-color: var(--white-clr-op-10);
  border-radius: 5px;

  font-size: 1.25rem;
  font-family: var(--font-family);

  color: var(--text-clr);
  padding: 0.5rem;

  outline: none;

  transition: var(--transition);
}

input {
  width: 100%;
}

textarea {
  resize: none;
  width: 100%;
}

input:focus {
  border: 2px solid var(--pri-clr);
}

textarea:focus {
  border: 2px solid var(--pri-clr);
}

.message {
  grid-column: 1/-1;
}

.send-btn {
  font-family: var(--font-family);
  color: var(--text-clr);
  font-weight: 600;
  font-size: 1.25rem;

  width: min-content;
  padding: 0.5rem 2rem;
  cursor: pointer;
}

/* footer */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-text {
  font-size: 0.875rem;
  color: var(--text-clr-light);
}

/* media queries */

@media (max-width: 1000px) {
  html {
    font-size: 14px;
  }

  .nav-links {
    gap: 1rem;
  }

  .download-now {
    padding: 4rem 2rem;
  }
}

@media (max-width: 768px) {
  section {
    padding: 3rem 0;
  }

  .download {
    margin-top: 10rem;
  }

  .header-bg {
    top: 35%;
  }

  .logo {
    display: none;
  }

  .logo-mobile {
    display: block;
  }

  .logo-mobile > img {
    width: 10rem;
  }

  /* navbar */

  nav {
    position: relative;
  }

  .nav-links {
    background-color: var(--blue-clr);
    flex-direction: column;
    justify-content: center;

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;

    transform: translateX(-100%);

    transition: transform 0.1s ease-in-out;
  }

  .show-nav {
    transform: translateX(0%);
  }

  .close-icon {
    display: block;
    position: absolute;
    top: 10%;
    right: 10%;
    font-size: 3rem;
    cursor: pointer;
  }

  .menu-icon {
    display: block;
  }

  .hamburger {
    cursor: pointer;
    font-size: 2rem;
  }

  /* header text */

  .header-text {
    width: 95%;
    max-width: 36rem;
    justify-self: center;
  }

  .header-text-main {
    grid-template-columns: 1fr;
    row-gap: 4rem;
  }

  .video {
    justify-self: center;
    width: 95%;
    max-width: 36rem;
  }

  /* how it works */

  .how-it-works-cards {
    grid-template-columns: 1fr;
    row-gap: 1rem;
  }

  .how-it-works-card {
    justify-self: center;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);

    max-width: 22.5rem;
    max-height: 22.5rem;
  }

  /* download now */

  .download-now {
    grid-template-columns: 1fr;
    row-gap: 2rem;

    position: relative;
  }

  .download-now-img {
    width: 67.5%;

    position: absolute;
    top: -100%;
    left: 35%;
  }

  /* contact-section */

  .contact {
  }

  form {
    grid-template-columns: 1fr;
    row-gap: 1rem;
  }

  /* footer */

  .footer-logo {
    width: 10rem;
  }
}

@media (max-width: 640px) {
  .download {
    margin-top: 0rem;
  }

  .download-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20rem auto;
  }

  .download-now-img {
    width: 90%;

    top: -110%;
    left: 0%;
  }

  /* modal */

  .modal-footer {
    grid-template-columns: 1fr;
    row-gap: 1rem;
  }

  .modal-logo {
    margin-right: auto;
  }
}

@media (max-width: 550px) {
  .download-now-img {
    width: 90%;

    top: -100%;
  }
}

@media (max-width: 450px) {
  .download-now-img {
    width: 100%;

    top: -90%;
  }
}

@media (max-width: 375px) {
  section {
    padding: 2rem 0;
  }

  .header-text-main {
    padding-top: 4rem;
    row-gap: 1rem;
  }

  .card-title {
    margin: 0.75rem 0;
  }
  .header-text-desc {
    margin-bottom: 1rem;
    line-height: 1.2;
    font-size: 1.5rem;
  }

  .download {
    margin-top: -10rem;
  }

  .download-section {
    grid-template-rows: 25rem auto;
  }

  .download-section-title {
    align-self: center;
  }

  .download-now {
    max-height: 28rem;
  }

  .download-now-img {
    top: -46%;
  }

  .download-btns {
    flex-direction: column;
    align-items: center;
  }

  .download-btn {
    width: 12.5rem;
  }

  .download-btn + .download-btn {
    margin-left: 0;

    margin-top: 1rem;
  }

  .answer-text {
    padding: 1rem 0rem;
  }

  .hide-answer {
    height: 0;
    overflow: hidden;
    padding: 0;
  }

  .question-icon {
    width: 3rem;
    height: 3rem;
  }

  .question-text {
    font-size: 1.25rem;
  }

  .answer-text {
    font-size: 1rem;
  }

  /* footer */

  .footer-logo {
    width: 5rem;
  }

  .footer-text {
    font-size: 0.75rem;
  }

  .modal-text {
    font-size: 1.1rem;
  }

  .modal-text-small {
    font-size: 0.9rem;
  }

  .modal-input {
    border-radius: 13px;
  }

  .modal-input-email {
    padding: 0.5rem;
  }

  .modal-logo {
    margin-top: 1rem;
    width: 70%;
  }

  .send-email-btn {
    width: 3rem;
    height: 3rem;
  }
}
